<div *ngIf="game">
  <div class="details">
    <div class="game-banner">
      <img class="game-banner-img" src="{{ game.background_image }}" alt="background image" />
    </div>
    <div class="game-content">
      <div class="details-wrapper">
        <div class="game-header">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <h1 class="game-header-title txt-shadow">{{ game.name }}</h1>
              <h2 class="game-header-release-date txt-shadow">
                Release: {{ game.released | date }}
              </h2>
              <p class="game-header-genres">
                <span *ngFor="let genre of game.genres; let last = last">{{ genre.name }}<span *ngIf="!last">,
                  </span></span>
              </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="game-gauge">
                <mwl-gauge class="two txt-shadow" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0"
                  [value]="gameRating" [animated]="true" [color]="getColor" [animationDuration]="2">
                </mwl-gauge>
                <a class="game-gauge-label txt-shadow" target="_blank" href="{{ game.metacritic_url }}">Metacritic</a>
              </div>
            </div>
          </div>

        </div>
        <app-game-tabs [game]="game"></app-game-tabs>
      </div>
    </div>
  </div>

</div>
